# Виртуальное окружение
venv/
.venv/
env/
.idea/
__pycache__/
**/__pycache__/

#В проде разкомментироовать
# # Игнорировать всё содержимое папки app/data_storage
# /app/data_storage/*

# # Но не игнорировать файл-заглушку, чтобы папка оставалась в репозитории
# !/app/data_storage/.gitkeep